# Exercise 01: Standard output

1. Print your name on the standard Output using the function `print`.
2. Print your name, age and city each in a separate line.
3. Print your name, age and city In a single line
4. In a meaningful sentence Print your name, age and city in a single line

In [3]:
name = 'Ahmed'
age = 25
city = 'Casablanca'
print(name, end='-')
print(name)
print(age)
print(city)
print(name, age, city, sep='*')
print('my name is {0}, I am {1}, and I am from {2}'.format(name, age, city))

Ahmed-Ahmed
25
Casablanca
Ahmed*25*Casablanca
my name is Ahmed, I am 25, and I am from Casablanca

# Exercise 02: Variables

Consider the following statements (remember a statement is a line of code the interpreter can execute. `x = 1` is an expression that stores the value `1` into `x`):
1. Print the summation, subtruction, multiplication and division of `x` and `y` each in a separate line without using any other variables.
2. Store the summation, subtruction, multiplication and division of `x` and `y` each in a separate variable, print those variables each in a separate line.

In [5]:
x = 1
y = 2
print(x+y)
print(x-y)
print(x * y)

print(x/y)

print(x//y)

sum = x + y
diff = x - y
prod = x * y
div = x / y

print(sum)
print(diff)
print(prod)
print(div)
print(sum, diff, prod, div, sep=', ')

3
-1
2
0.5
0
3
-1
2
0.5
3, -1, 2, 0.5

# Exercise 03: Variables

Consider the following statements:
1. Swap the values of `x` and `y` . *`x` should store the value of `y` and `y` should store the value of `x`*
2. Store the sum of `x` and `y` into `x` and their subtraction into `y`

In [10]:
x = 22
y = 33

#x, y = y, x
x, y = x + y, x - y
print(x, y)

55 -11

# Exercise 04: Conditions

Consider the following statements
1. Write an **if statement** to check if `x` is equal to `y` if so print `"x and y are equal"` otherwise print `"x and y are not equal"`
2. Write an **if statement** to check if `x` is equal to `z` if so print `"x and z are equal"` otherwise print `"x and z are not equal"`
3. Write an **if statement** to check if either `x` is equal `y` or `x`  is equal to `z` if so print `x is equal to y or z` otherwise print `"x is equal to neither y nor z"`
4. Write an **if statement** to check if `x` is equal to both `y` and `z` if so print `x is equal to both y and z` otherwise print `"x is equal to neither y nor z"`

In [ ]:
x = 1
y = 2
z = 1

if x == y:
  print('x and y are equal')
else:
  print('x and y are not equal')

if x == z:
  print('x and z are equal')
else:
  print('x and z are not equal')

if x == y or x == z:
  print('x is equal to y or z')
else:
  print('x is equal to neither y nor z')

if x == y and x == z:
  print('x is equal to both y and z')
else:
  print('x is equal to neither y nor z')

3 is equal to 3 or 4 is equal to 1

# Exercise 05: Conditions

Consider the following statements:
1. Using the modulo operator `%`, check each variable if it is divisible by two and print some useful output.
2. Using the modulo operator `%`, check if at least one of the variables is divisible by two and print some useful output
3. Using the modulo operator `%`, check if all the variables ar divisible by two and print some useful output

In [11]:
x = 9
y = 222
z = 3

if x % 2 == 0:
  print('x is even')
if y % 2 == 0:
  print('y is even')
if z % 2 == 0:
  print('z is even')
if x % 2 == 0 or y % 2 == 0 or z % 2 == 0:
  print('at least one variable is even')
if x % 2 == 0 and y % 2 == 0 and z % 2 == 0:
  print('all variables are even')

y is even
at least one variable is even

# Exercise 06: Variables and conditions

Consider the bellow statements:
- Write an **if else statement** to check wheter the variable `x` is even or odd, if it is even print `"x is even"` otherwise print `"x is odd"`

In [13]:
x = 65

if x %2 == 0:
  print('x is even')
elif x % 2 == 1: #else
  print('x is odd')

x is odd

# Exercise 07: Variables and conditions

Consider the bellow code:
1. Only by looking at the code, can you tell the type of the variables `x` and `y`.
2. Print the type of the variables `x` and `y` using the function `type`.

In [18]:
x = True
y = False

True * False

#Write your answer bellow

0

# Exercise 08: conditions

Consider the variable `x`:
- Using the modulo operator `%` and **if, elif, else** statements check if `x` is divisible by `2` if so print `"x is divisible by 2"` and check if `x` is divisible by `3` if so print `"x is divisible by 3"`, and check if `x` is divisible by `6` if so print `"x is divisible by 6"` else using a pass statement do nothing.

In [ ]:
x = 2322
if x % 2 == 0:
  print('x is divisible by 2')
if x % 3 == 0:
  print('x is divisible by 3')
if x % 6 == 0:
  print('x is divisible by 6')
else:
  pass

# Exercise 09: conditions

Consider the variable `x`:
- Using an **if statement** check if `x` is divisible by `2`and a **nested if statement** to check if it's divisible by `3`.

In [20]:
x = 8989
if x % 2 == 0:
    print('x is divisible by 2')
    if x % 3 == 0:
        print('x is divisible by 3')

# Exercise 10: Variables and conditions

Consider following statements:
- Only by looking at the code, can you tell what would be printed. write your answer as comments next to each print statement.
- Explain the behavior, write your answer as comments at the end of the code.

In [29]:
x = 3
y = 3.3
z = True
a = 'test'

print(type(x) is int)
print(type(y) is str)
print(type(y) is float)
print(type(z) is bool)
print(type(a) is str)


print(isinstance(x, int))

True
False
True
True
True
True

# Exercise 11: Standard Input/Output

Create a program that takes an input from the user and print it in the standard output.

In [35]:
line  = input('enter a sentence')
print(line)

enter a sentencebonjour tout le monde
bonjour tout le monde

# Exercise 12: Standard I/O

Create a program that takes the name and age of the user from the standard input.
 1. If the user entered `"hamid"` and `"23"` print `hamis is 23`.
 2. Use the method `format` to do the same thing as above.

In [ ]:
nom, prenom, age = input().split(' ')

print(nom + ' is '+ age)

# Exercise 13: Standard I/O

Create a program that takes an integer from the input and print its type.
- Run your code and enter the value `"11"`
- Run your code again and enter the value `test`
- Explain the output.

In [12]:
x = input()
print(type(x))

123
<class 'str'>

# Exrecise 14: Variables

1. Store the values `1`, `0.0`, `1j` and `"this is a string"` in the variables `a`, `b`, `c`, and `d` respectively.
2. Print the type of each variable using the function `type`.
3. 
    * Print the type of the following sums : `a + b` and `b + c`, and explain the behavior.
    * Try summing `a` and `d`, and explain the behavior.
4. consider the two following strings `122` and `rrr`.
    * Using `int` class constuctor try to convert the  above strings to integer types.
    * What do we call the above behavior
    * *Don't worry about the term constructors we will get back to them later just use the syntax `int(122)`.*

In [15]:
a = 1
b = 0.0
c = 1j
d = 'this is a string'
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(a+b))
print(type(b+c))
s1 = '122'
s2 = 'rrr'
n1 = int(122.0)
print(n1)

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'float'>
<class 'complex'>
122

# Exercise 15: Variables

Create a program that takes two strings from the user.
* Enter the values `122` and `rrr` and print their according types.
* Use the method `isdigit()` to make sure the input is a valid integer.
    * *Don't worry about the term method just think of it as a special function that we call using the syntax `var.isdigit()` where var is a variable that stores some data*
* If the user entered invalid input print `"invalid input"` and terminate the program.
* If the user entered a valid input print the sum of the integers.

In [17]:
s1 = input()
s2 = input()
if s1.isdigit() and s2.isdigit():
  n1 = int(s1)
  n2 = int(s2)
  print(n1 + n2)
else:
  print('invalid input')

4
r
invalid input

# Exercise 16: Conditions

- Create a program that reads from the standard input two integers and a binary operator (`+`,`-`,`/` or `*`) and prints the result of the opration on the two integers.
    - Check the validity of the input, and print `"Invalid input"` if the input is not valid.
    
- Rewrite the program so it can also take floats or complex numbers or any combinasion of the mentioned types.
    - Check the validity of the input, and print `Invalid input` if the input is not valid.

In [21]:
def isfloat(x):
  try:
    x = float(x)
    return True
  except:
    return False


s1, s2, s3 = input().split(' ')
if not isfloat(s1) or not isfloat(s2) or not s3 in '+-/*':
  print('invalid input')
n1 = float(s1)
n2 = float(s2)
if s3 == '+':
  print(n1+n2)
elif s3 == '-':
  print(n1-n2)
elif s3 == '/':
  print(n1/n2)
elif s3 == '*':
  print(n1*n2)

0.4 0.7 *
0.27999999999999997

# Exercise 17: While loop

Consider an algorithm that takes as input a positive integer n. If n is even, the algorithm divides it by two, and if n is odd, the algorithm multiplies it by three and adds one. The algorithm repeats this, until n is one. For example, the sequence for n=3 is as follows:<br>
    `3→10→5→16→8→4→2→1`
- Create a program that reads the integer n from the standard input and simulates the execition of the algorithm for the given n by printing all the values in a single line.<br>
    * Sample input:<br>
    `3`
    * Sample output:<br>
    `3 10 5 16 8 4 2 1`

In [28]:
x = int(input())
while True:
  print (x, end=' ')
  if x == 1:
    break
  elif x % 2 == 0:
    x //= 2
  else:
    x = 3 * x +1

1
1

## Exercise 18: For Loop

You are given a list of strings that contains some names.<br>
Finish up the code below so that it prints `Salam <Name> !` for each name in the list.
* Expected output:<br>
    `Salam Omar!`<br>
    `Salam Zineb!`<br>
    `Salam Hamza!`<br>
    `Salam Ibrahim!`<br>
    `Salam Kawtar!`<br>
    `Salam Nabil!`

In [22]:
lst_name = ['Omar', 'Zineb', 'Hamza', 'Ibrahim', 'Kawtar', 'Nabil']
for name in lst_name:
  print('Salam ' + name + "!")
  #print('Salam {}!'.format(name))

Salam Omar!
Salam Zineb!
Salam Hamza!
Salam Ibrahim!
Salam Kawtar!
Salam Nabil!

# Exercise 19: Functions

fFinish up the code below by implementing the function sum_of_digits that takes an integer and returns the sum of its digits.
* Exepected output:<br>
    `26`

In [23]:
def sum_of_digits(x):
  x = str(x)
  out = 0
  for c in x:
    out += int(c)
  return out

def sum_of_digits(x):
  out = 0
  while x > 0:
    out += x % 10
    x //= 10
  return out
print(sum_of_digits(989))

26