# Datatypes exercises

## Exercise 1

Write the following mathematical formula in Python:

\begin{align}
 result = 6a^3 - \frac{8b^2 }{4c} + 11
\end{align}

```python
a = 2
b = 3
c = 2
```

> write your formula as 
```python
result = 
```

It must verify
```python
>>> assert result == 50

In [4]:
a = 2
b = 3
c = 2
result = 6 * a**3  - (8*b**2/(4*c)) +11
assert result == 50

## Exercise 2

Explain why the folowing assertion fails

In [6]:
assert (0.1 + 0.2 - 0.3 < 10**-6) # will cause assertion error

## Exercise 3

Write a function `sum_list` to sum all the items in a list

In [11]:
def sum_list(x):
  total = 0
  for val in x:
    total += val
  return total

print(sum([10, 20, -1]))
assert sum_list([10, 20, -1]) == 29

29

## Exercise 4

Write a program that asks how long it took to run 10 km today. The program continues to ask how long (in minutes) it took for additional runs, until the user enters q. At that point, the program exits â€” but only after calculating and displaying the average time that the 10 km run took.  


Example:
```
Enter 10 km run time: 15
Enter 10 km run time: 20
Enter 10 km run time: 10
Enter 10 km run time: q

Average of 15.0, over 3 runs
```

In [12]:
lst = []
while True:
  s = input('Enter 10 km run time:')
  if s == 'q':
    break
  lst.append(int(s))

print(f'Average of {sum(lst)/len(lst)}, over {len(lst)} runs')

Enter 10 km run time:15
Enter 10 km run time:20
Enter 10 km run time:10
Enter 10 km run time:q
Average of 15.0, over 3 runs

## Exercise 5

Write a function that takes a string and returns the sorted string.

In [20]:
def sort_string(s):
  x = sorted("cabaeb")
  return ''.join(x)
assert sort_string("cabaeb") == "aabbce"

## Exercise 6

Write a function that take a string of multiple words and returns the position of the word with most repeated letters

In [24]:
def wwmrl(s):
    best = 0
    pos = 0
    for idx, word in enumerate(s):
      dist = len(set(list(word)))
      doub = len(word) - dist
      if doub > best:
        best = doub
        pos = idx
    return pos 
        
assert wwmrl(['this', 'is', 'an', 'elementary', 'aaaaaaaaaaaaaaaaaaaaaaaaaa', 'example', 'aabbccddeeff']) == 4

## Exercise 7

1. Create a tuple
2. Unpack the tuple in multiple variables

In [39]:
t = ('item1', '12.20', 7, True, False, 1)
s = t[1:3]
print(s)

('12.20', 7)

## Exercise 8

Write a Python program to sort a tuple by its float element.  
Sample data: `[('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]`  
Expected Output: `[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]`

In [44]:
y = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
# Methode 1
def s(x):
  return float(x[1])
sorted(y,key=s, reverse=True)
# Methode 2
sorted(y,key=lambda x : float(x[1]), reverse=True)

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

## Exercise 9

Write a Python script to concatenate dictionaries to create a new one.

In [55]:
"""Sample Dictionary"""
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={1:50,6:60}
#Method 1
dic = {**dic1, **dic2, **dic3}
print(dic)
#Method 2
for d in [dic1, dic2,dic3]:
  dic.update(d)

{1: 10, 6: 60, 3: 30, 4: 40, 2: 20}

## Exercise 10

Write a Python program to combine two dictionary adding values for common keys.

In [57]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
d = {**d1, **d2}
print(d)
for key in d:
  if key in d1 and key in d2:
    d[key] = d1[key] + d2[key]
print(d)

{'a': 300, 'b': 200, 'c': 300, 'd': 400}
{'a': 400, 'b': 400, 'c': 300, 'd': 400}

## Exercise 11

Write a function `convert_to_palindrome` that takes a string and reorders its letters in such a way that it becomes a palindrome (i.e., it reads the same forwards and backwards). If this is not possible return `IMPOSSIBLE`

In [61]:
def convert_to_palindrome(s):
  d = {}
  for c in set(s):
    d[c] = s.count(c)
  odd_cnt = 0
  t = ('',0)
  for key, val in d.items():
    if val % 2 == 1:
      odd_cnt += 1
      t = (key, val)
  if odd_cnt > 1:
    return "IMPOSSIBLE"
  part1 = ''
  for key, val in d.items():
    if val % 2 == 0:
      part1 += key * (val//2)  
  return part1 + t[0] * t[1] + part1[::-1]
convert_to_palindrome('AAAACACBA')
#assert (convert_to_palindrome('AAAACACBA') == 'AACABACAA')
#assert (convert_to_palindrome('AAAACACBA') == 'IMPOSSIBLE')

'CAAABAAAC'

# Exercise 12

Write a function `get_unique_elements` that takes a list and returns another list with only the distinct elements. For example, if you are given the list `[1, 3, 'a', 3, 'cd', 1, 'a']` you should return `[1, 3, 'a', 'cd']`

In [64]:
def get_unique_elements(s):
  return list(set(s))
get_unique_elements([1, 2, 2, 'a', 'a', 'a', 'g', 5])

[1, 2, 5, 'a', 'g']

# Exercise 13

Complete the dictionary `str_to_func` so that the following program will work correctly

In [ ]:
def sum(a, b):
    return a + b
def sub(a, b):
    return a - b
def mul(a, b):
    return a * b
def div(a, b):
    return a / b
def pow(a, b):
    return a ** b

str_to_func = {
    '+' : sum,
    '-' : sub,
    '*' : mul,
    '/' : div,
    '**': pow
}
n1 = int(input('Enter first int'))
n2 = int(input('Enter Second int'))
op = input('Enter symbol') #possible symbols are +, -, *, /, **
print(str_to_func[op](n1, n2))

# Exercise 14

Using list comprehension, create a list containing only the words longer than `11` characters from the string `s`

In [68]:
s = """Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
nihil, eveniet aliquid culpa officia aut! Impedit sit sunt quaerat, odit,
tenetur error, harum nesciunt ipsum debitis quas aliquid. Reprehenderit,
quia. Quo neque error repudiandae fuga? Ipsa laudantium molestias eos 
sapiente officiis modi at sunt excepturi expedita sint? Sed quibusdam
recusandae alias error harum maxime adipisci amet laborum. Perspiciatis 
minima nesciunt dolorem! Officiis iure rerum voluptates a cumque velit 
quibusdam sed amet tempora. Sit laborum ab, eius fugit doloribus tenetur 
fugiat, temporibus enim commodi iusto libero magni deleniti quod quam 
consequuntur! Commodi minima excepturi repudiandae velit hic maxime
doloremque. Quaerat provident commodi consectetur veniam similique ad 
earum omnis ipsum saepe, voluptas, hic voluptates pariatur est explicabo 
fugiat, dolorum eligendi quam cupiditate excepturi mollitia maiores labore 
suscipit quas? Nulla, placeat. Voluptatem quaerat non architecto ab laudantium
modi minima sunt esse temporibus sint culpa, recusandae aliquam numquam 
totam ratione voluptas quod exercitationem fuga. Possimus quis earum veniam 
quasi aliquam eligendi, placeat qui corporis!
"""
0,1,4,9,16,49
lst = []
for x in range(8):
  lst.append(x**2)
#list comprehension
lst = [x**2 for x in range(8)]
res = [word for word in s.split() if len(word) > 11]
res = []
for word in s.split():
  if len(word) > 11:
    res.append(word)
# store your answer in the variable res
assert(res == ['consequuntur', 'Reprehenderit,', 'Perspiciatis', 'consequuntur!', 'exercitationem'])

# Exercise 15

The number `1655172` is actually equal to `a * 7 + b * 11`. Can you find `a` and `b`?

In [73]:
# your code here
n = 1655172
for a in range(n//7): 
  if (n - a * 7) % 11 == 0:
    print(a, (n -a *7) //11)
    break

5 150467